ul,ol {
    list-style-type: none;  
    margin: 0 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
}

.container {
    max-width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
}

.navigation-link, .address-link{
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link {
    color: #2e2f42;
    padding: 24px 0;
}

.this-page {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.this-page::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    font-style: normal;
    color: #434455;
    display: flex;
    margin-left: auto;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-text {
    color: #2e2f42;
}

nav>ul {
    font-weight: 500;
}

.navigation-link:hover, .address-link:hover, 
.navigation-link:focus, .address-link:focus{
    color: #404bbf;
}

.solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 188px 0;
    max-width: 100%;
    margin: 0 auto;
}

.page-title {
    font-size: 56px;
    color: #fff;
    text-align: center;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin: 0 auto;
}

.button-order {
    display: block;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    margin: 48px auto 0;
    padding: 16px 32px;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
    background: #404bbf;
}

.advantages {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-list {
    display: flex;
    gap: 24px;
    /* align-items: center */
}

.advantages-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 112px;
    max-width: 264px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.advantages-item {
    max-width: 264px;
}

.advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.advantages-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team {
    background: #f4f4fd;
    text-align: center;
    padding: 120px 0;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-cards {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
}

.team-cards-container {
    padding: 32px 0;
    margin:0 16px;
}

.title-team-cards {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.paragraph-team-cards {
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-cards-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    max-width: 232px;
}

.team-cards-item {
    width: 40px;
    height: 40px;
}

.team-cards-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-cards-links:hover, .team-cards-links:focus {
    background-color: #404bbf;
} 

.team-cards-icons {
    fill: #f4f4fd;
}

.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color :#2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    align-content: center;
}

.portfolio-item {
    max-width: 360px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-box-text {
    transform: translateY(0%);
}

.portfolio-box {
    position: relative;
    overflow: hidden;
}

.portfolio-box-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%; 
    width: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    transform: translateY(100%);
}

.portfolio-cards-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-cards-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background: #2e2f42;
    color: #f4f4fd;
    padding: 100px 0;
}

.footer-box {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-text-footer {
    display: inline-block;
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}


.footer-text-box {
    display: inline-block;
    margin-right: 120px;
}

.footer-social-box {
    display: inline-block;
}

.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover, .footer-links:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}

.footer-form-box {
    margin-left: auto;
}

.form-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    gap: 24px;
}

.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    text-align: center;
    color: #fff;
    text-align: center;
}

.footer-form-btn-icon {
    margin-left: 16px;
    fill: #ffffff
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
            0 1px 3px 0 rgba(0, 0, 0, 0.12), 
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .close-icon, .modal-close:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-box {
    margin-bottom: 8px;
}

.form-lable {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 40px;
    font-size: 12px;
    padding-left: 38px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    padding: 8px 16px;
    width: 360px;
    height: 120px;
    resize: none;
    outline: none;
    line-height: 1.17;
    outline: transparent;
}

.comment-box {
    margin-bottom: 16px;
}

.user-privacy-box {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.user-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-lable .user-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.user-privacy-link {
    color: #4d5ae5;
}

.form-btn {
    display: block;
    margin: 24px auto 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

