ul,ol {
    list-style-type: none;  
    margin: 0 0;
    padding-left: 0;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0 0;
}

img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background: #FFFFFF;
    margin: 0;
}

.container {
    max-width: 100%;
    padding: 0 16px; 
    margin: 0 auto;
}

.team .container {
    max-width: 100%;
    padding: 0 28px; 
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.nav {
    display: flex;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    padding: 12px 0;
}

.logo-text {
    color: #2e2f42;
}

.navigation-link, .address-link{
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455 ;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navigation-link {
    color: #2e2f42;
    padding: 30px 0;
}

.this-page {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.this-page::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.address {
    font-style: normal;
    color: #434455;
    display: flex;

}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.address-link {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav>ul {
    font-weight: 500;
}

.navigation-link:hover, .address-link:hover, 
.navigation-link:focus, .address-link:focus{
    color: #404bbf;
}

.mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    position: relative;
    padding: 72px 16px 40px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:hover, .menu-close:focus {
    background-color: #404bbf;
    border: none;
}

.menu-close:hover .close-icon, .menu-close:focus .close-icon {
    fill: #ffffff;
}

.menu-nav {
    margin-bottom: auto;
}

.menu-navigation-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.menu-navigation-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--navy-blue);
}

.this-page {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-address {
    margin-bottom: 48px;
}

.menu-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.menu-address-link {
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--slate);
    text-decoration: none;
}

.menu-address-link:hover, .menu-address-link:focus {
    color: #4d5ae5;
}

.menu-social-list {
    display: flex;
    justify-content: space-between;
}

.solutions {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url(../images/hero-bg-mobile.png);
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    min-height: 432px;
    display: flex;
    align-items: center;
}

.page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
}

.button-order {
    display: block;
    background: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    margin: 72px auto 0;
    padding: 16px 32px;
    border: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-order:hover,
.button-order:focus {
    background: #404bbf;
}

.advantages {
    padding: 96px 0;
}

.advantages-list {
    display: flex;
    gap: 72px;
    flex-wrap: wrap;
}

.advantages-icon-box {
    display: none;
}

.advantages-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.advantages-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width:768px) {
    .footer-text-box {
        max-width: 264px;
    }
}

.team {
    background: #f4f4fd;
    text-align: center;
    padding: 96px 0;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px;
}

.team-cards {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    max-width: 264px;
    border-radius: 0px 0px 4px 4px;
}

.team-cards-container {
    padding: 16px 0;
    margin:0 32px;
}

.title-team-cards {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.paragraph-team-cards {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}

.team-cards-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 24px;
    max-width: 232px;
}

.team-cards-item {
    width: 40px;
    height: 40px;
}

.team-cards-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-cards-links:hover, .team-cards-links:focus {
    background-color: #404bbf;
} 

.team-cards-icons {
    fill: #f4f4fd;
}

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color :#2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    align-content: center;
    justify-content: center;
}

.portfolio-item {
    max-width: 288px;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-box-text {
    display: none;
}

.portfolio-item:hover, portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cards-container {
    padding: 32px 16px;
    border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
}

.portfolio-cards-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-cards-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer {
    background: #2e2f42;
    color: #f4f4fd;
    padding: 96px 0;
}

.footer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 72px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-text-footer {
    display: inline-block;
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 100%;
    text-align: left;
}

.footer-social-box {
    display: inline-block;
}

.footer-social-text {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list {
    display: flex;
    gap: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
}

.footer-links {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover, .footer-links:focus {
    background-color: #31d0aa;
}

.footer-icons {
    fill: #f4f4fd;
}

.form-title {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 288px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    padding-left: 16px;
}

.footer-form-btn {
    display: flex;
    margin: 0 auto;
    border-radius: 4px;
    padding: 8px 24px;
    max-width: 165px;
    height: 40px;
    background: #4d5ae5;
    border: none;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    color: #fff;
}

.footer-form-btn-icon {
    margin-left: 16px;
    fill: #ffffff
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    min-width: 288px;
    min-height: 623px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
            0 1px 3px 0 rgba(0, 0, 0, 0.12), 
            0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover, .modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close:hover .close-icon, .modal-close:focus .close-icon {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

.form-box {
    margin-bottom: 8px;
}

.form-lable {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    font-size: 12px;
    padding-left: 38px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
}

.form-input:focus {
    border: 1px solid #4d5ae5;
}

.form-input:focus + .form-icon {
    fill: #4d5ae5;
}

.form-textarea {
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    outline: none;
    line-height: 1.17;
    outline: transparent;
}

.comment-box {
    margin-bottom: 16px;
}

.user-privacy-box {
    display: flex;
    gap: 8px;
    margin-bottom: 24px;
}

.user-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox:checked + .form-lable .user-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.user-privacy-link {
    color: #4d5ae5;
}

.form-btn {
    display: block;
    margin: 24px auto 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



@media screen and (min-width:320px) and (max-width:767px){
    .navigation-list, .address {
        display: none;
    }

    .icon-menu {
        border: none;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: auto;
        cursor: pointer;
    }

    
}

@media screen and (min-width:768px) {
    .icon-menu {
        display: none;
    }
    
}